# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
beautifulsoup4=4.6.0=pypi_0
ca-certificates=2019.5.15=1
certifi=2019.6.16=py37_1
chardet=3.0.4=pypi_0
django=2.2.4=pypi_0
django-debug-toolbar=2.0=pypi_0
django-modelcluster=4.4=pypi_0
django-taggit=0.24.0=pypi_0
django-treebeard=4.3=pypi_0
djangorestframework=3.10.2=pypi_0
draftjs-exporter=2.1.6=pypi_0
entrypoints=0.3=py37_0
flake8=3.7.7=py37_0
html5lib=1.0.1=pypi_0
idna=2.8=pypi_0
libcxx=4.0.1=hcfea43d_1
libcxxabi=4.0.1=hcfea43d_1
libedit=3.1.20181209=hb402a30_0
libffi=3.2.1=h475c297_4
mccabe=0.6.1=py37_1
ncurses=6.1=h0a44026_1
openssl=1.1.1c=h1de35cc_1
pillow=6.1.0=pypi_0
pip=19.1.1=py37_0
pycodestyle=2.5.0=py37_0
pyflakes=2.1.1=py37_0
python=3.7.3=h359304d_0
pytz=2019.2=pypi_0
readline=7.0=h1de35cc_5
requests=2.22.0=pypi_0
setuptools=41.0.1=py37_0
six=1.12.0=pypi_0
sqlite=3.29.0=ha441bb4_0
sqlparse=0.3.0=pypi_0
tk=8.6.8=ha441bb4_0
unidecode=1.1.1=pypi_0
urllib3=1.25.3=pypi_0
wagtail=2.6.1=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.33.4=py37_0
willow=1.1=pypi_0
xz=5.2.4=h1de35cc_4
zlib=1.2.11=h1de35cc_3
