{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-5">
        {% for post in posts %}
    
            {% if post.post_image %}
                {% image post.post_image fill-250x250 as blog_img %}
                <div class="card border-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header - Maybe list of tags?</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                                {% image post.post_image fill-250x250 as blog_img %}
                                <a href="{{ post.url }}">
                                    <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                                </a>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
                        </div>
                    </div>
                {% else %}

                <div class="card border-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header - Maybe list of tags?</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ post.url }}" class="card-link">Read more</a>
                    </div>
                </div>
<!--            <div class="row mt-5 mb-5">
                    <div class="col-sm-3">

                        {% image post.post_image fill-250x250 as blog_img %}
                        <a href="{{ post.url }}">
                            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <a href="{{ post.url }}">
                            <h2>{{ post.title }}</h2>
                            {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                            <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
                        </a>
                    </div>
                </div> -->
    
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %} 


<div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>